$first-color:#ffffff;
$second-color: #41228e;
$third-color:#222222;
$fourth-color:#6e6e6e;
$fifth-color:#bdbdbd;
$sixth-color:#363636;

$first-font:'Poppins', sans-serif;
$second-font:  'Playfair Display', serif;
$third-font: 'Roboto', sans-serif;

$first-weight: 300;
$second-weight: 400;
$third-weight: 700;